<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
    <link rel="stylesheet" href="{{asset('assets/CSSTYLE.css')}}">
</head>
<header>
    <div id="wrap">
      <ul class="navbar">
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="CV">CV</a>
          
        </li>
        <li>
          <a href="portfolio">portfolio</a>
        </li>
        <li>
          <a href="loisirs">loisirs</a>
        </li> 
        <li>
          <a href="contacts"> contacts</a>
        </li> 
    </header>
    <section id="exempleForm">
      <form method="post" action="traitement.php">
        <h1>Formulaire</h1>
        <fieldset class="fullLine" legend="Inputs">
        <p>
          <label for="name">NOM: </label>
          <input type="NOM" name="nom" id="name" size="30" maxlength="10" placeholder="NOM" required />
        </p>
        
        <p>
          <label for="pwd">PRENOM: </label>
          <input type="PRENOM" name="nom" id="pwd" size="30" maxlength="10" placeholder="PRENOM" required />
        </p>
        
        
        <p>
          <label for="mail">Email:</label>
          <input type="email" id="mail" placeholder="mail" required/>
        </p>
        
        
        
        <p>
          <label for="tel">Tel:</label>
          <input type="tel" id="tel" placeholder="tel" required/>
        </p> 

        </fieldset>
        <br/>
        
        
          <input type="Submit" value="Telecharger"  id="submit" required/>
         
        
      </form>
    </section>