<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('assets/CSSTYLE.css')}}">
</head>
<header>
<div id="wrap">
  <ul class="navbar">
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="CV">CV</a>
      
    </li>
    <li>
      <a href="portfolio">portfolio</a>
    </li>
    <li>
      <a href="loisirs">loisirs</a>
    </li> 
    <li>
      <a href="contacts"> contacts</a>
    </li> 
</header>
<body> 

  
  <div class="index">
  
    <h2><em> Les competences definissent les capacités d'une personnes. </em></h2>
    <br><br>
    <p> NOM: ZIAO  </p>
    <p>PRENOM: Chris Erwann</p>
    <p> ADRESSE MAIL: cekziao@gmail.com </p>
    <p>CONTACTS: 07 83 55 73 52  </p>
    <p> STATUT PROFESSIONNELLE: Etudiant en R&T </p>
  </div>
</body> 
<div class="plus"
<footer class="plus">
  <footer> En savoir plus</footer>
</div>  
</html>