<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="{{asset('assets/portfolio.css')}}">
</head>
<header>
    <div id="wrap">
      <ul class="navbar">
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="CV">CV</a>
          
        </li>
        <li>
          <a href="portfolio">portfolio</a>
        </li>
        <li>
          <a href="loisirs">loisirs</a>
        </li> 
        <li>
          <a href="contacts"> contacts</a>
        </li> 
</header>
<body>
  <div class="title1"
  <strong><h1>Compétences</h1></strong>
  </div>
<div class="port">
  <li><h1>
    <div class="portf">
     Reseaux <h1>
    </div>
    <div class="porto">
     <h5>En reseaux je suis capable de monter les equipements,les reliés à un switch, et les connecter. En plus je peux configurer les ports des switchs 
      de sorte à ce que qu'ils puissent ce connecter entre-eux tout en etant restreint: Un LAN. </h5>
     <h6><a href="https://docs.google.com/document/d/19JLCTiuf9QQfzIQfwP5Iono4LaEOI56UZ6J-3l9W3P4/edit?usp=sharing">Voici un lien justificatif</a></h6>
    </div>
  </li>
 <li>
   <div class="portf"><h1>
      Système d'exploitations <h1>
    </div>
      <div class="porto">
       <h2>Mais connaissance sur les systèmes d'exploitations windows et Linux me permettent plusieurs sur ceux-ci. Notemment en cybersecurité la connaissanceance des systemes permettent de prevenir et résoudre de nombreux
        problèmes comme la compatibilité des logiciel ou encore les attaque sur les mises à jour systémes.   </h2>
       <h3><a href="https://docs.google.com/document/d/19JLCTiuf9QQfzIQfwP5Iono4LaEOI56UZ6J-3l9W3P4/edit?usp=sharing">Voici un lien justificatif</a></h3>
      </div>
    </li> 
  <li>
    <div class="portf"><h1>
     Programmation <h1><br></div>
    <div class="porto">
       <h2> En programmation je suis capable d'executer et ecrire un programme de sortes à automatiser les taches éffectuer et permetttre un gain de temps et de materiel.
       Mon niveau en python est assez bon et je parviens à bien executer les programmes.Sur les autres languages comme le HTML ou le CSS, je m'estimes avoir un bon niveau de compétences(La preuve en est le site que j'ai créer). </h2>
       <h3><a href="https://docs.google.com/document/d/19JLCTiuf9QQfzIQfwP5Iono4LaEOI56UZ6J-3l9W3P4/edit?usp=sharing">Voici un lien justificatif</a></h3>
      </div>
      </li>  
  </body>
</html>